@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-jakarta: "Plus Jakarta Sans", serif;
  --color-ex-gray: #eeeeee;
  --color-ex-cyan: #76abae;
  --color-ex-grayblue: #31363f;
  --color-ex-blackblue: #222831;
}
